<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">Freelancer en un template gratuiro creado por Start Bootstrap. La descarga incluye los archivos fuente completos, incluidos HTML, CSS y JavaScript, así como hojas de estilo SASS opcionales para una fácil personalización.</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">Puede crear su propio avatar personalizado para la cabecera, cambiar el icono en los divisores y agregar su dirección de correo electrónico al formulario de contacto para que sea completamente funcional.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download mr-2"></i>
                ¡Descarga gratuita!
            </a>
        </div>
    </div>
</section>
