<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>
            {% block title %}Django 3.2{% endblock %}
        </title>

        <!-- estilos -->
        <link href="{% static 'vendors/bootstrap4/css/bootstrap.css' %}" rel="stylesheet" />

        <!-- CSS en cabecera  -->
        {% block stylesheets %}
        {% endblock stylesheets %}

        <!-- JS en cabecera  -->
        {% block jsbefore %}
        {% endblock jsbefore %}

    </head>
    <body>
        {% block content %}
        {% endblock content %}
                
        <!-- jQuery / Popper (bootstrap.bundle) / Bootstrap -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/scripts.js"></script>

        <!-- JS en body -->
        {% block javascripts %}
        {% endblock javascripts %}
    </body>
</html>
